<%- include('./partials/about_head.ejs') %>
<%- include('./partials/nav.ejs') %>

<!-- ------------------------------------------------------------- -->
<!-- Start Header -->
<header class="horizon-header">
    <nav class="navbar navbar-expand-lg navbar-light" id="horizon_menu">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="assets/imgs/horizon/HLogoW.png" width="150" class="img-fluid" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu"
                aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_menu">
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
            <a class="nav-link anchor active" href="#slide">Home </a>
          </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Products
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item anchor" href="/products/zeiss">ZEISS</a>
                            <a class="dropdown-item anchor" href="/products/ltl">LTL</a>
                            <a class="dropdown-item anchor" href="/products/divel">Divel</a>
                            <a class="dropdown-item anchor" href="/products/roger-bacon">Roger Bacon</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Free Form
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item anchor" href="/free-form/progressive">Progressive</a>
                            <a class="dropdown-item anchor" href="/free-form/single-vision">Single Vision</a>
                            <a class="dropdown-item anchor" href="/free-form/bifocal">Bifocal</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link anchor" href="/news">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link anchor active" href="/about-us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a id="contact-route" class="nav-link anchor" href="#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End Header -->

<section class="masthead">
    <div class="masthead-text">
        <p class="masthead-intro">Horizon</p>
        <p class="masthead-heading">Lenses Industry</p>
    </div>
</section>

<div class="container" style="padding: 1rem 0; width: 95vw; text-align: center; overflow-x: scroll; margin: 1rem auto;">
    <%- about.content %>
</div>

<%- include('./partials/footer.ejs') %>
<%- include('./partials/about_end.ejs') %>