<%- include('./partials/about_head.ejs') %>
<%- include('./partials/nav.ejs') %>

<!-- ------------------------------------------------------------- -->
<!-- Start Header -->
<header class="horizon-header">
    <nav class="navbar navbar-expand-lg navbar-light" id="horizon_menu">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="assets/imgs/horizon/HLogoW.png" width="150" class="img-fluid" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu"
                aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_menu">
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
            <a class="nav-link anchor active" href="#slide">Home </a>
          </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Products
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item anchor" href="/products/zeiss">ZEISS</a>
                            <a class="dropdown-item anchor" href="/products/ltl">LTL</a>
                            <a class="dropdown-item anchor" href="/products/divel">Divel</a>
                            <a class="dropdown-item anchor" href="/products/roger-bacon">Roger Bacon</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Free Form
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item anchor" href="/free-form/progressive">Progressive</a>
                            <a class="dropdown-item anchor" href="/free-form/single-vision">Single Vision</a>
                            <a class="dropdown-item anchor" href="/free-form/bifocal">Bifocal</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link anchor" href="/news">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link anchor active" href="/about-us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a id="contact-route" class="nav-link anchor" href="#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End Header -->

<section class="masthead">
    <div class="masthead-text">
        <p class="masthead-intro">Horizon</p>
        <p class="masthead-heading">Lenses Industry</p>
    </div>
</section>

<div class="container" style="padding: 1rem 0;">
    <%- about.content %>
</div>

<h2>Lorem ipsum dolor</h2>
<figure class="image image-style-side"><img
        src="https://firebasestorage.googleapis.com/v0/b/horizon-28ad8.appspot.com/o/images%2F2c011fd5f1e51bdb7b0505f886197d62.jpg?alt=media&amp;token=b95315af-6481-4635-af03-41a6e33165ac">
    <figcaption>hello World</figcaption>
</figure>
<p>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Expedita&nbsp;cumque&nbsp;dolorum&nbsp;illo,&nbsp;vel&nbsp;cupiditate&nbsp;iusto&nbsp;ratione&nbsp;sapiente&nbsp;quos&nbsp;nobis&nbsp;a&nbsp;unde&nbsp;aliquam?&nbsp;asdasddasdasdasds
    Distinctio&nbsp;mollitia&nbsp;expedita&nbsp;totam&nbsp;ipsam,&nbsp;et&nbsp;inventore&nbsp;explicabo&nbsp;hic,&nbsp;ullam&nbsp;porro&nbsp;nesciuntsd,
</p>
<p><i>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;</i>sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Expedita&nbsp;cumque&nbsp;dolorum&nbsp;illo,&nbsp;vel&nbsp;cupiditate&nbsp;iusto&nbsp;ratione&nbsp;sapiente&nbsp;quos&nbsp;nobis&nbsp;a&nbsp;unde&nbsp;aliquam?&nbsp;Distinctio&nbsp;mollitia&nbsp;expedita&nbsp;totam&nbsp;ipsam,&nbsp;<strong>et&nbsp;inventore&nbsp;explicabo&nbsp;</strong>hic,&nbsp;ullam&nbsp;porro&nbsp;nesciunt,&nbsp;voluptate&nbsp;possimus&nbsp;facere&nbsp;assumenda&nbsp;sunt&nbsp;perferendis&nbsp;natus&nbsp;aliquid&nbsp;atque&nbsp;delectus&nbsp;earum&nbsp;dicta&nbsp;ducimus.&nbsp;Ab,&nbsp;cum&nbsp;eaque.
</p>
<p>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Expedita&nbsp;cumque&nbsp;dolorum&nbsp;illo,&nbsp;vel&nbsp;cupiditate&nbsp;iusto&nbsp;ratione&nbsp;sapiente&nbsp;quos&nbsp;nobis&nbsp;a&nbsp;unde&nbsp;aliquam?&nbsp;Distinctio&nbsp;mollitia&nbsp;<strong>expedita&nbsp;totam&nbsp;ipsam,&nbsp;</strong>et&nbsp;inventore&nbsp;explicabo&nbsp;
</p>
<blockquote>
    <p>asdasdasdasdasdasdasd<br>asdasdasdadsada</p>
</blockquote>
<figure class="table">
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>horizon</th>
                <th>ayk</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>lorem 1</td>
                <td>asdasd</td>
                <td>asdasd</td>
            </tr>
            <tr>
                <td>qweqwe</td>
                <td>qweqwe</td>
                <td>qweqwe</td>
            </tr>
            <tr>
                <td>zxczcx</td>
                <td>zxczcx</td>
                <td>zxczxzc</td>
            </tr>
        </tbody>
    </table>
</figure>
<p>Lorem&nbsp;ipsum&nbsp;dolor&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Expedita&nbsp;cumque&nbsp;dolorum&nbsp;illo,&nbsp;vel&nbsp;cupiditate&nbsp;iusto&nbsp;ratione&nbsp;sapiente&nbsp;quos&nbsp;nobis&nbsp;a&nbsp;unde&nbsp;aliquam?&nbsp;Distinctio&nbsp;mollitia&nbsp;<strong>expedita&nbsp;totam&nbsp;ipsam,&nbsp;</strong>et&nbsp;inventore&nbsp;explicabo&nbsp;
</p>
<p><a href="https://ayk-mall.com">Ayk Mall</a></p>


<%- include('./partials/footer.ejs') %>
<%- include('./partials/about_end.ejs') %>