<%- include('./partials/new_head.ejs') %>
    <%- include('./partials/nav.ejs') %>


        <!-- Start Page Head -->
        <section class="page-head background-withcolor">
            <div id='stars'></div>
            <div id='stars1'></div>
            <div id='stars2'></div>
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12" style="margin: 5rem auto 3rem auto !important">
                        <span style="color: white; letter-spacing: 0.5rem;">Horizon / News </span>
                        <h1 style="font-size: x-large; display: inline-block;">
                            / <%= blog.title %>
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Page Head -->

        <!-- Start Blog Page Section -->
        <section class="single-blog-with-sidebar single-blog-page padding-100">
            <div class="container">
                <div class="row">
                    <!-- Start All Blogs -->
                    <div class="col-md-12 col-lg-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blog-box">
                                    <div class="blog-img">
                                        <img src="<%= blog.main_img %>" class="img-fluid" alt="">
                                    </div>
                                    <div class="blog-details">
                                        <div class="space-15"></div>
                                        <h3>
                                            <%= blog.title %>
                                        </h3>
                                        <!-- <div class="space-15"></div> -->
                                        <ul class="news-meta">
                                            <li>
                                                <!-- <span class="lnr lnr-user"></span> -->
                                                <i class="fas fa-user-shield"></i>
                                                By Horizon
                                            </li>
                                            <li>
                                                <!-- <span class="lnr lnr-clock"></span> -->
                                                <i class="fas fa-clock"></i>
                                                <%= blog.date %>
                                            </li>
                                        </ul>
                                        <div class="space-15"></div>

                                        <p>
                                            <%= blog.content %>
                                        </p>

                                        <blockquote>
                                            <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius velit
                                                quaerat
                                                fuga praesentium ut!”</p>
                                        </blockquote>

                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End All Blogs -->
                    <!-- 








                    
                 -->
                    <!-- Start Sidebar -->
                    <div class="col-md-12 col-lg-4">
                        <aside class="sidebar">
                            <div class="gray-panel follow-me">
                                <h3>Follow Us</h3>
                                <ul>
                                    <li class="facebook">
                                        <a href="#" style="border-radius: 1rem 3rem;"><i
                                                class="fab fa-facebook"></i></a>
                                    </li>
                                    <li class="instagram">
                                        <a href="#" style="border-radius: 1rem 3rem;"><i
                                                class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="gray-panel recent-post">
                                <h3>Recent Post</h3>
                                <% blogs.forEach(function(blog) { %>
                                    <div class="post d-flex align-items-top">
                                        <figure>
                                            <a href="#"><img src="<%= blog.thumb_img %>" class="img-fluid" alt=""></a>
                                        </figure>
                                        <div>
                                            <h4><a href="<%= blog.id %>">
                                                    <%= blog.title %>
                                                </a></h4>
                                            <ul class="news-meta">
                                                <li>
                                                    <!-- <span class="lnr lnr-clock"></span> -->
                                                    <i class="far fa-clock"></i>
                                                    <%= blog.date %>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                        </aside>
                    </div>
                    <!-- End Sidebar -->
                </div>
            </div>
        </section>


        <%- include('./partials/footer.ejs') %>
            <%- include('./partials/new_end.ejs') %>