<%- include('./partials/product_head.ejs') %>
    <%- include('./partials/nav.ejs') %>


        <!-- Start Page Head -->
        <section class="page-head background-withcolor">
            <div class="container">
                <div id='stars'></div>
                <div id='stars1'></div>
                <div id='stars2'></div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <h1>
                            <!-- <span style="color: #110f0f">Brands / </span> -->
                            <%= test %>
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Page Head -->

        <div style="padding: 3rem 0;"></div>

        <!-- Start Blog Page Section -->
        <section class="single-blog-with-sidebar single-blog-page">
            <div class="container">
                <h2 style="color: white !important;">Description</h2>
                <div class="row">
                    <!-- Start All Blogs -->
                    <div class="col-md-12 col-lg-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blog-box">
                                    <div class="blog-img">
                                        <img src="<%= test %>" class="img-fluid" alt="">
                                    </div>
                                    <div class="blog-details">
                                        <hr>
                                        <p>
                                            <%= test %> <br>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem expedita
                                                ratione similique totam explicabo magnam modi eveniet molestias,
                                                deserunt
                                                asperiores ad ipsam necessitatibus! Commodi, numquam! Est consequuntur
                                                unde
                                                sint voluptate nemo. Voluptatem, est cum dignissimos alias totam eveniet
                                                atque. Aliquid ad vero, ex iste magni asperiores numquam ipsa, non illo
                                                odit
                                                odio labore quod obcaecati esse hic, vel facere dolorem quidem
                                                praesentium
                                                necessitatibus quae commodi. Quis hic facere excepturi minima eveniet
                                                temporibus culpa, nam blanditiis earum error quidem mollitia iste sunt
                                                corporis repellat quas. Placeat quaerat qui ullam magni? Soluta eveniet
                                                non
                                                eos! Error ad quas dolor necessitatibus, corporis facilis ab sapiente
                                                inventore. Dolorem doloribus eligendi asperiores mollitia quas quae
                                                temporibus deserunt in aperiam voluptates rem inventore ducimus amet,
                                                accusamus ex commodi, explicabo libero quasi sint recusandae ipsum
                                                minima?
                                                Debitis magnam ea, sit ipsum quibusdam minus quos, iure corporis
                                                repellat
                                                non porro adipisci. Iure cumque laboriosam ratione assumenda amet? Ipsa
                                                praesentium deleniti cumque ad error tempore, soluta accusamus, ab fugit
                                                ratione esse voluptates modi. Ipsam aliquam perferendis error fugiat,
                                                iusto
                                                dolorem ab tempora corrupti quasi, modi suscipit quaerat excepturi quia.
                                                Accusamus tenetur hic dolores harum atque distinctio, fugiat officiis
                                                aliquid blanditiis nobis dolorum quidem ea quibusdam autem,
                                                exercitationem
                                                iste ab.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End All Blogs -->
                    <!-- -->
                    <!-- Start Sidebar -->
                    <div class="col-md-12 col-lg-4">
                        <aside class="sidebar">
                            <div class="gray-panel follow-me">
                                <figure>
                                    <img class="img-fluid" src="/assets/imgs/horizon/before3.jpg" alt="">
                                    <!-- <figcaption style="text-align: center;">PIC 1</figcaption> -->
                                </figure>
                            </div>

                            <div class="gray-panel recent-post">
                                <!-- <div class="post d-flex align-items-top"> -->
                                <figure>
                                    <img class="img-fluid" src="/assets/imgs/horizon/after3.jpg" alt="">
                                    <!-- <figcaption style="text-align: center;">PIC 1</figcaption> -->
                                </figure>
                                <!-- </div> -->

                            </div>
                        </aside>
                    </div>
                    <!-- End Sidebar -->
                </div>
                <hr>
            </div>
        </section>
        <!-- END BLOG SECTION -->
        <div style="padding: 3rem 0;"></div>
        <!-- 










         -->
        <!-- Start Brand Designs Section -->
        <section class="single-blog-with-sidebar single-blog-page">
            <div class="container">
                <div class="row">
                    <!-- Start All Blogs -->
                    <div class="col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blog-box">
                                    <div class="map-container">
                                        <h2 style="color: white !important;">Designs</h2>
                                        <div class="blog-img">
                                            <img src="<%= test %>" class="img-fluid" alt="">
                                        </div>
                                        <div class="inner-basic division-map div-toggle" data-target=".division-details"
                                            id="divisiondetail">
                                            <button class="mlod_link map-point-sm" data-show=".darwin">
                                                <div class="content">
                                                    <div class="centered-y">
                                                        <span>Office</span>
                                                    </div>
                                                </div>
                                            </button>
                                            <button class="mlod_link map-point-sm" data-show=".ptown">
                                                <div class="content">
                                                    <div class="centered-y">
                                                        <span>Driving</span>
                                                    </div>
                                                </div>
                                            </button>
                                            <button class="mlod_link map-point-sm" data-show=".philly">
                                                <div class="content">
                                                    <div class="centered-y">
                                                        <span>Computer</span>
                                                    </div>
                                                </div>
                                            </button>
                                        </div><!-- end inner basic -->
                                    </div>


                                    <div class="map-container">
                                        <div class="inner-basic division-details">
                                            <div class="initialmsg">
                                                <p style="margin: 1rem 0;">Pick One Design</p>
                                            </div>
                                            <div class="darwin hide">
                                                <!-- Start Lenses Design -->
                                                <section id="before_after" class="">
                                                    <div class='container'>
                                                        <div class='img background-img'></div>
                                                        <div class='img foreground-img'></div>
                                                        <input type="range" min="1" max="100" value="50" class="slider"
                                                            name='slider' id="slider">
                                                        <div class='slider-button'></div>
                                                    </div>
                                                </section>
                                                <!-- End Slide -->
                                            </div>
                                            <div class="ptown hide">
                                                <!-- Start Lenses Design -->
                                                <section id="before_after" class="">
                                                    <div class='container'>
                                                        <div class='img background-img2'></div>
                                                        <div class='img foreground-img2'></div>
                                                        <input type="range" min="1" max="100" value="50" class="slider2"
                                                            name='slider2' id="slider2">
                                                        <div class='slider-button2'></div>
                                                    </div>
                                                </section>
                                                <!-- End Slide -->
                                            </div>
                                            <div class="philly hide">
                                                <!-- Start Lenses Design -->
                                                <section id="before_after" class="">
                                                    <div class='container'>
                                                        <div class='img background-img3'>
                                                        </div>
                                                        <div class='img foreground-img3'>
                                                        </div>
                                                        <input type="range" min="1" max="100" value="50" class="slider3"
                                                            name='slider3' id="slider3">
                                                        <div class='slider-button3'></div>
                                                    </div>
                                                </section>
                                                <!-- End Slide -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Brand Designs Section -->
                </div>
            </div>
        </section>
        <!-- END BLOG SECTION -->

        <div style="padding: 3rem 0;"></div>


        <%- include('./partials/footer.ejs') %>
            <%- include('./partials/new_end.ejs') %>