<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Horizon</title>

    <!-- Favicon -->
    <link rel="icon" href="assets/imgs/horizon/logoIcon.png" />
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Slick Slider -->
    <link href="assets/css/slick.css" rel="stylesheet" />
    <link href="assets/css/slick-theme.css" rel="stylesheet" />

    <!-- AOS CSS -->
    <link href="assets/css/aos.css" rel="stylesheet" />

    <!-- Lity CSS -->
    <link href="assets/css/lity.min.css" rel="stylesheet" />

    <!-- swiper CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css" />

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css" />

    <!-- linearicons CSS -->
    <link rel="stylesheet" href="assets/css/linearicons.css" />

    <!-- OWL -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

    <!-- Main CSS -->
    <link href="assets/css/main.css" rel="stylesheet" />
    <link href="assets/css/lenses.css" rel="stylesheet" />
    <link href="assets/css/news.css" rel="stylesheet" />
    <link href="assets/css/timeline.css" rel="stylesheet" />
    <link href="assets/css/blur_cards.css" rel="stylesheet" />
    <link href="assets/css/single-vision.css" rel="stylesheet" />
    <link href="assets/css/bifocal.css" rel="stylesheet" />
    <link href="assets/css/testimonials.css" rel="stylesheet" />
    <link type="text/css" href="assets/css/contactUtil.css" rel="stylesheet">
    <link type="text/css" href="assets/css/contact.css" rel="stylesheet">

    <!-- Horizon Themes * We can add another colors from color-1 to color-20 -->
    <link href="assets/css/color-1.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#main_menu" data-offset="70">
    <!-- Start Preloader -->
    <div class="preloader">
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start Header -->
    <header class="horizon-header">
        <nav class="navbar navbar-expand-lg navbar-light" id="horizon_menu">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="assets/imgs/horizon/HLogoW.png" class="img-fluid" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu"
                    aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_menu">
                    <ul class="navbar-nav ml-auto">
                        <!-- <li class="nav-item">
                <a class="nav-link anchor active" href="#slide">Home </a>
              </li> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Products
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item anchor" href="/products/zeiss">ZEISS</a>
                                <a class="dropdown-item anchor" href="/products/ltl">LTL</a>
                                <a class="dropdown-item anchor" href="/products/divel">Divel</a>
                                <a class="dropdown-item anchor" href="/products/roger-bacon">Roger Bacon</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Free Form Technology
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item anchor" href="/free-form/progressive">Progressive</a>
                                <a class="dropdown-item anchor" href="/free-form/single-vision">Single Vision</a>
                                <a class="dropdown-item anchor" href="/free-form/bifocal">Bifocal</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link anchor" href="#technical">Technical Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link anchor" href="#blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link anchor" href="/about-us">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a id="contact-route" class="nav-link anchor" href="#contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End Header -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start Hero -->
    <section id="hero-section" class="slide background-withcolor">
        <div class="content-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6" data-aos="fade-right">
                        <h1><%= horizon.name %></h1>
                        <p id="hero-parag-1" class="white mb-0"><%= horizon.hero_parag_1 %></p>
                        <h2 id="hero-header-1"><%= horizon.hero_header_1 %></h2>
                        <p id="hero-parag-2" class="white"><%= horizon.hero_parag_2 %></p>
                        <!-- call to action btn -->
                        <a id="hero-link-1" href="<%= horizon.hero_link_1_href %>"
                            class="btn btn-primary btn-white shadow btn-theme"><span><b><%= horizon.hero_link_1_name %></b></span></a>
                    </div>
                    <div class="col-md-6" data-aos="fade-left" data-aos-delay="200">
                        <!-- <img src="assets/img/mobile-1.png" class="img-fluid d-block mx-auto" alt=""> -->
                        <div class="stack">
                            <div class="content card">
                                <p class="white">
                                    <b>
                                        <span id="desktop-prompt" class="white">Hover</span>
                                        <span id="mobile-prompt" class="white">Tap</span>
                                        To See
                                    </b>
                                </p>
                                <p class="white" style="
                      font-size: 1rem;
                      font-weight: 600;
                      line-height: 1.5rem;
                    ">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex est similique atque
                                    vero accusamus, dolorem quae voluptates laudantium magnam quod.
                                </p>
                            </div>
                            <div class="padding card"></div>
                            <div class="border card"></div>
                            <div class="background card"></div>
                            <div class="box-shadow card"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start Recent News -->
    <section id="blog" class="padding-100">
        <div class="container">
            <div class="row">
                <div class="text-center col-12 section-title" data-aos="fade-zoom-in">
                    <h2 class="section-header med-dark">
                        <span style="border-bottom: 3px solid; padding: 0.5rem;">Latest News</span>
                    </h2>
                    <div class="space-25"></div>
                    <p>
                        Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor coli incidit labore lorem ipsum amet madolor sit
                        amet.
                    </p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <section id="news" class="">
                        <div class="news-slider">
                            <div class="news-slider__wrp swiper-wrapper">
                                <% blogs.forEach(function(blog) { %>
                                <div class="news-slider__item swiper-slide">
                                    <div class="news-slider__img">
                                        <img src="<%= blog.bg %>" alt="" />
                                    </div>
                                    <div class="news-slider__content">
                                        <span class="news-slider__code"><%= blog.date %></span>
                                        <div class="news-slider__title"><%= blog.title %></div>
                                        <div class="news-slider__text">
                                            <%= blog.summary %>
                                        </div>
                                        <a href="/blog/<%= blog.id %>" class="news-slider__button">READ MORE</a>
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                            <div class="news-slider__pagination"></div>
                            <!-- <a class="" style="float: right; margin: -1rem; background-color: white;" href="#">View all
                                >></a> -->
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </section>
    <!-- End Recent News  -->
    <!-- ------------------------------------------------------------- -->
    <!-- lenses Lenses Designs 1/3 -->
    <section id="" class="hero-section padding-100">
        <div class="container">
            <div class="row">
                <div class="text-center col-12 section-title" data-aos="fade-zoom-in">
                    <h2 class="section-header med-light">
                        <span style="border-bottom: 3px solid; padding: 0.5rem;">
                            <%= ld1.name %>
                        </span>
                    </h2>
                    <div class="space-25"></div>
                    <p class="white">
                        Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor coli incidit labore lorem ipsum amet madolor sit
                        amet.
                    </p>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-12">
                    <section id="" class="" style="margin: 2rem 0">
                        <div class="blur-card-grid">
                            <a class="blur-card" href="<%= ld1.prog_card_1_link %>">
                                <div class="blur-card__background" style="
                      background-image: url(<%=ld1.prog_card_1_img%>);
                    "></div>
                                <div class="blur-card__content">
                                    <p class="blur-card__category white">
                                        <%= ld1.prog_card_1_type %>
                                    </p>
                                    <h3 class="blur-card__heading">
                                        <%= ld1.prog_card_1_header %>
                                    </h3>
                                </div>
                            </a>

                            <a class="blur-card" href="<%= ld1.prog_card_1_link %>">
                                <div class="blur-card__background" style="
                      background-image: url(<%=ld1.prog_card_1_img%>);
                    "></div>
                                <div class="blur-card__content">
                                    <p class="blur-card__category white">
                                        <%= ld1.prog_card_1_type %>
                                    </p>
                                    <h3 class="blur-card__heading">
                                        <%= ld1.prog_card_1_header %>
                                    </h3>
                                </div>
                            </a>

                            <a class="blur-card" href="<%= ld1.prog_card_1_link %>">
                                <div class="blur-card__background" style="
                      background-image: url(<%=ld1.prog_card_1_img%>);
                    "></div>
                                <div class="blur-card__content">
                                    <p class="blur-card__category white">
                                        <%= ld1.prog_card_1_type %>
                                    </p>
                                    <h3 class="blur-card__heading">
                                        <%= ld1.prog_card_1_header %>
                                    </h3>
                                </div>
                            </a>

                            <a class="blur-card" href="<%= ld1.prog_card_1_link %>">
                                <div class="blur-card__background" style="
                      background-image: url(<%=ld1.prog_card_1_img%>);
                    "></div>
                                <div class="blur-card__content">
                                    <p class="blur-card__category white">
                                        <%= ld1.prog_card_1_type %>
                                    </p>
                                    <h3 class="blur-card__heading">
                                        <%= ld1.prog_card_1_header %>
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!-- End lenses Designs 1/3 -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start Lens Info (1/2) -->
    <section id="about" class="why-us padding-100 background-fullwidth background-fixed"
        style="background-image: url()">
        <div class="container" style="background-color: white; border-radius: 24px">
            <div class="row align-items-center">
                <div class="col-md-6 text-center" data-aos="fade-right">
                    <img src="<%= li1.li1_img %>" class="img-fluid" alt="" />
                </div>
                <div class="col-md-6" data-aos="fade-zoom-in" data-aos-delay="200">
                    <h2 style="text-align: center; margin: 0 0 2rem 0;"><span
                            style="color: #d39529; border-bottom: 3px solid; padding: 0.5rem;"><%= li1.li1_header %></span>
                    </h2>
                    <p>
                        <%= li1.li1_desc %>
                    </p>
                    <div class="space-50">
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-aos="zoom-in" data-aos-delay="400">
                            <div class="why-us-icon">
                                <img src="assets/imgs/horizon/logoIcon.png" width="35px" alt="" />
                                <p>
                                    <%= li1.li1_parag_1 %>
                                </p>
                            </div>
                            <div class="space-25"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-aos="zoom-in" data-aos-delay="600">
                            <div class="why-us-icon">
                                <img src="assets/imgs/horizon/logoIcon.png" width="35px" alt="" />
                                <p>
                                    <%= li1.li1_parag_2 %>
                                </p>
                            </div>
                        </div>
                        <div class="space-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-aos="zoom-in" data-aos-delay="800">
                            <div class="why-us-icon">
                                <img src="assets/imgs/horizon/logoIcon.png" width="35px" alt="" />
                                <p>
                                    <%= li1.li1_parag_3 %>
                                </p>
                            </div>
                            <div class="space-25"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-aos="zoom-in" data-aos-delay="1000">
                            <div class="why-us-icon">
                                <img src="assets/imgs/horizon/logoIcon.png" width="35px" alt="" />
                                <p>
                                    <%= li1.li1_parag_4 %>
                                </p>
                            </div>
                            <div class="space-25"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Lens Info (1/2) -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start lenses Designs 2/3 -->
    <section id="single-vision" class="hero-section">
        <div class="text-center col-12 section-title" data-aos="fade-zoom-in">
            <h2 class="section-header dark">
                <span style="border-bottom: 3px solid; padding: 0.5rem;"><%= ld2.ld2_header %></span>
            </h2>
            <div class="space-25"></div>
            <p class="dark">
                <%= ld2.ld2_desc %>
            </p>
            <div class="space-25"></div>
        </div>
        <div class="single-vision_container">
            <div class="single-vision_nav">
                <div class="single-vision_logo">
                    <img src="assets/imgs/horizon/logoIcon.png" width="35px" alt="" />
                </div>
                <div class="nav__text">
                    H <br />
                    O <br />
                    R <br />
                    I <br />
                    Z <br />
                    O <br />
                    N
                </div>
                <div class="nav__cart" style="text-align: center;">
                    <span> <%= ld2.ld2_designs.length %></span>
                    <br>
                    <span> Designs </span>
                </div>
            </div>
            <!-- <div class="cover">
                <h2>Single Vision<br />Lenses</h2>
            </div> -->
            <% ld2.ld2_designs.forEach(function(design, index) { %>
            <div class="product" data-index="<%= index %>">
                <div class="product__close">Close</div>
                <div class="product__new">NEW</div>
                <div class="product__detail">VIEW DETAILS</div>
                <img class="product__img" src="<%= design.img %>" />
                <div class="product__brand"><%= design.header %></div>
                <div class="product__title"><%= design.sub_header %></div>
                <!-- <div class="product__price">$13,200</div> -->
                <div class="product__subtitle">
                    <%= design.content_before %>
                </div>
                <div class="product__subtitle product__subtitle--expanded" style="--delay: 0.3s">
                    <%= design.content_after %>
                </div>
                <div class="product__table">
                    <div class="product__table-title">TECHNICAL SPECIFICATIONS</div>

                    <% design.specs.forEach(function(spec) { %>
                    <div class="product__table-row">
                        <div class="product__table-cell"><%= spec.title %></div>
                        <div class="product__table-cell">
                            <%= spec.desc %>
                        </div>
                    </div>
                    <% }) %>
                    <div class="product__option">ALL SPECIFICATIONS</div>
                </div>
            </div>
            <% }) %>

            <div class="product__overlay"></div>
        </div>
    </section>
    <!-- End lenses Designs 2/3 -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start Lens Info 2/2 -->
    <section id="main_features" class="main-features padding-100">
        <div class="container">
            <div class="row">
                <div class="text-center col-12 section-title" data-aos="fade-zoom-in">
                    <h2 class="section-header med-dark">
                        <span style="border-bottom: 3px solid; padding: 0.5rem;">Lens Info 2/2</span>
                    </h2>
                    <div class="space-25"></div>
                    <p>
                        Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor coli incidit labore lorem ipsum amet madolor sit
                        amet.
                    </p>
                    <div class="space-25"></div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-3 text-lg-right left-side">
                    <div class="one-feature one" data-aos="fade-right" data-aos-delay="1000">
                        <h5>Lorem ipsum</h5>
                        <span class="lnr lnr-rocket"></span>
                        <p>Our system is a comprehensive system of applied creativity.</p>
                    </div>
                    <div class="one-feature" data-aos="fade-right" data-aos-delay="1400">
                        <h5>Lorem ipsum</h5>
                        <span class="lnr lnr-cog"></span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro labore quaerat tempore
                            tempora.
                        </p>
                    </div>
                    <div class="one-feature" data-aos="fade-right" data-aos-delay="1800">
                        <h5>Lorem ipsum</h5>
                        <span class="lnr lnr-cloud"></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro labore quaerat tempore
                            tempora.</p>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="features-circle">
                        <div class="circle-svg" data-aos="zoom-in" data-aos-delay="400">
                            <svg version="1.1" id="features_circle" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="543px"
                                height="542.953px" viewBox="0 0 543 542.953" enable-background="new 0 0 543 542.953"
                                xml:space="preserve">
                                <g>
                                    <circle fill="none" stroke="#" stroke-width="3" stroke-miterlimit="10"
                                        stroke-dasharray="11.9474,11.9474" cx="271.5" cy="271.516" r="270" />
                                    <animateTransform attributeName="transform" type="rotate" from="0" to="360"
                                        dur="50s" repeatCount="indefinite"></animateTransform>
                                </g>
                            </svg>
                        </div>
                        <img data-aos="fade-up" data-aos-delay="200" src="assets/imgs/glasses/glass3.png"
                            class="img-fluid" alt="" />
                    </div>
                </div>
                <div class="col-lg-3 right-side">
                    <div class="one-feature" data-aos="fade-left" data-aos-delay="1000">
                        <h5>Lorem ipsum</h5>
                        <span class="lnr lnr-construction"></span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro labore quaerat tempore
                            tempora.
                        </p>
                    </div>
                    <div class="one-feature" data-aos="fade-left" data-aos-delay="1400">
                        <h5>Lorem ipsum</h5>
                        <span class="lnr lnr-gift"></span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro labore quaerat tempore
                            tempora.
                        </p>
                    </div>
                    <div class="one-feature" data-aos="fade-left" data-aos-delay="1800">
                        <h5>Lorem ipsum</h5>
                        <span class="lnr lnr-database"></span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro labore quaerat tempore
                            tempora.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Lens Info 2/2 -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start lenses Designs 3/3 -->
    <section id="" class="hero-section padding-100">
        <div class="container">
            <div class="row">
                <div class="text-center col-12 section-title" data-aos="fade-zoom-in">
                    <h2 class="section-header med-light">
                        <span style="border-bottom: 3px solid; padding: 0.5rem;">Lens Designs 3/3</span>
                    </h2>
                    <div class="space-25"></div>
                    <p class="white">
                        Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor coli incidit labore lorem ipsum amet madolor sit
                        amet.
                    </p>
                    <div class="space-25"></div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <section id="bifocal" class="">
                        <div class="options">
                            <div class="option active" style="
                    --optionBackground: url(https://pngimg.com/uploads/glasses/glasses_PNG54356.png);
                  ">
                                <div class="shadow"></div>
                                <div class="label">
                                    <div class="icon">
                                        <img src="assets/imgs/horizon/logoIcon.png" width="35px" alt="" />
                                    </div>
                                    <div class="info">
                                        <div class="main">Lens Title</div>
                                        <div class="sub">Lens Subtitle</div>
                                    </div>
                                </div>
                            </div>
                            <div class="option" style="
                    --optionBackground: url(https://pngimg.com/uploads/glasses/glasses_PNG54352.png);
                  ">
                                <div class="shadow"></div>
                                <div class="label">
                                    <div class="icon">
                                        <img src="assets/imgs/horizon/logoIcon.png" width="35px" alt="" />
                                    </div>
                                    <div class="info">
                                        <div class="main">Lens Title</div>
                                        <div class="sub">Lens Subtitle</div>
                                    </div>
                                </div>
                            </div>
                            <div class="option" style="
                    --optionBackground: url(https://pngimg.com/uploads/glasses/glasses_PNG54356.png);
                  ">
                                <div class="shadow"></div>
                                <div class="label">
                                    <div class="icon">
                                        <img src="assets/imgs/horizon/logoIcon.png" width="35px" alt="" />
                                    </div>
                                    <div class="info">
                                        <div class="main">Lens Title</div>
                                        <div class="sub">Lens Subtitle</div>
                                    </div>
                                </div>
                            </div>
                            <div class="option" style="
                    --optionBackground: url(https://pngimg.com/uploads/glasses/glasses_PNG54352.png);
                  ">
                                <div class="shadow"></div>
                                <div class="label">
                                    <div class="icon">
                                        <img src="assets/imgs/horizon/logoIcon.png" width="35px" alt="" />
                                    </div>
                                    <div class="info">
                                        <div class="main">Lens Title</div>
                                        <div class="sub">Lens Subtitle</div>
                                    </div>
                                </div>
                            </div>
                            <div class="option" style="
                    --optionBackground: url(https://pngimg.com/uploads/glasses/glasses_PNG54356.png);
                  ">
                                <div class="shadow"></div>
                                <div class="label">
                                    <div class="icon">
                                        <img src="assets/imgs/horizon/logoIcon.png" width="35px" alt="" />
                                    </div>
                                    <div class="info">
                                        <div class="main">Lens Title</div>
                                        <div class="sub">Lens Subtitle</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!-- End lenses Designs 3/3  -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start Watch Video -->
    <section id="watch_video" class="watch-video padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="text-center col-12 section-title" data-aos="fade-zoom-in">
                    <h2 class="section-header med-dark">
                        <span style="border-bottom: 3px solid; padding: 0.5rem;">Watch Video</span>
                    </h2>
                    <div class="space-25"></div>
                    <p class="">
                        Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor coli incidit labore lorem ipsum amet madolor sit
                        amet.
                    </p>
                    <div class="space-50"></div>
                </div>
                <div class="col-md-6 offset-md-3" data-aos="fade-up">
                    <div class="video" style="
                background-image: url('https://via.placeholder.com/699x351');
              ">
                        <img src="assets/img/mobile-4-4.png" class="img-fluid d-block mx-auto" alt="" />
                        <a href="http://www.youtube.com/watch?v=XSGBVzeBUbk" data-lity></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Watch Video  -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start Logos -->
    <section id="logos" class="logos background-withcolor">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="logos-slider">
                        <div class="item">
                            <img src="assets/img/logo-en-lg.png" class="img-fluid mx-auto b-block" alt="" />
                        </div>
                        <div class="item">
                            <img src="assets/imgs/horizon/HLogoW.png" class="img-fluid mx-auto b-block" alt="" />
                        </div>
                        <div class="item">
                            <img src="assets/img/logo-en-lg.png" class="img-fluid mx-auto b-block" alt="" />
                        </div>
                        <div class="item">
                            <img src="assets/imgs/horizon/HLogoW.png" class="img-fluid mx-auto b-block" alt="" />
                        </div>
                        <div class="item">
                            <img src="assets/img/logo-en-lg.png" class="img-fluid mx-auto b-block" alt="" />
                        </div>
                        <div class="item">
                            <img src="assets/imgs/horizon/HLogoW.png" class="img-fluid mx-auto b-block" alt="" />
                        </div>
                        <div class="item">
                            <img src="assets/img/logo-en-lg.png" class="img-fluid mx-auto b-block" alt="" />
                        </div>
                        <div class="item">
                            <img src="assets/imgs/horizon/HLogoW.png" class="img-fluid mx-auto b-block" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Logos -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start Screenshots -->
    <section id="screenshots" class="hero-section background-withcolor" style="color: white">
        <div class="container-fluid">
            <div class="row">
                <div class="text-center col-12 section-title" data-aos="fade-zoom-in">
                    <h2 class="section-header">
                        <span style="border-bottom: 3px solid; padding: 0.5rem;">Screenshots</span>
                    </h2>
                    <div class="space-25"></div>
                    <p class="light">
                        Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor coli incidit labore lorem ipsum amet madolor sit
                        amet.
                    </p>
                    <div class="space-50"></div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="screenshots-slider" data-aos="fade-up">
                        <div class="item">
                            <img src="assets/imgs/glasses/glass1.png" class="img-fluid d-block mx-auto" alt="" />
                        </div>
                        <div class="item">
                            <img src="assets/imgs/glasses/glass2.png" class="img-fluid d-block mx-auto" alt="" />
                        </div>
                        <div class="item">
                            <img src="assets/imgs/glasses/glass4.png" class="img-fluid d-block mx-auto" alt="" />
                        </div>
                        <div class="item">
                            <img src="assets/imgs/glasses/glass3.png" class="img-fluid d-block mx-auto" alt="" />
                        </div>
                        <div class="item">
                            <img src="assets/imgs/glasses/glass4.png" class="img-fluid d-block mx-auto" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Screenshots -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start Fun Facts -->
    <section id="facts" class="fun-facts padding-100 background-withcolor" style="color: white">
        <div class="container">
            <div class="row">
                <div class="text-center col-12 section-title" data-aos="fade-zoom-in">
                    <h2 class="section-header">
                        <span style="border-bottom: 3px solid; padding: 0.5rem;">Production Info</span>
                    </h2>
                    <div class="space-25"></div>
                    <p class="light">
                        Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor coli incidit labore lorem ipsum amet madolor sit
                        amet.
                    </p>
                    <div class="space-50"></div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="fact-box text-center" data-aos="fade-up" data-aos-delay="400">
                        <img src="assets/imgs/horizon/logoIcon.png" class="img-fluid" alt="" />
                        <h5>1</h5>
                        <h6>Bifocal</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="fact-box text-center" data-aos="fade-up" data-aos-delay="800">
                        <img src="assets/imgs/horizon/logoIcon.png" class="img-fluid" alt="" />
                        <h5>3000</h5>
                        <h6>Single Vision</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="fact-box text-center" data-aos="fade-up" data-aos-delay="1200">
                        <img src="assets/imgs/horizon/logoIcon.png" class="img-fluid" alt="" />
                        <h5>763</h5>
                        <h6>Other Lens</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="fact-box text-center" data-aos="fade-up" data-aos-delay="1600">
                        <img src="assets/imgs/horizon/logoIcon.png" class="img-fluid" alt="" />
                        <h5>360</h5>
                        <h6>Other Lens</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Fun Facts  -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start FAQ -->
    <section id="technical" class="faq padding-100">
        <div class="container">
            <div class="row">
                <div class="text-center col-12 section-title" data-aos="fade-zoom-in">
                    <h2 class="section-header med-dark">
                        <span style="border-bottom: 3px solid; padding: 0.5rem;">Technical Info</span>
                    </h2>
                    <div class="space-25"></div>
                    <p class="">
                        Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor coli incidit labore lorem ipsum amet madolor sit
                        amet.
                    </p>
                    <div class="space-50"></div>
                </div>
            </div>
            <div class="row align-items-center">
                <!--align-items-center-->
                <div class="col-md-8 col-12" data-aos="fade-right">
                    <div class="accordion" id="faqAccordion">
                        <div class="faq-card shadow">
                            <div class="faq-card-header" id="heading_1">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
                                        What Is Horizon
                                    </button>
                                </h5>
                            </div>

                            <div id="collapse_1" class="collapse show" aria-labelledby="heading_1"
                                data-parent="#faqAccordion">
                                <div class="faq-card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Harum tenetur dicta commodi, totam atque fugit ut magnam
                                    laboriosam dignissimos dolorum minus quia sed distinctio in
                                    mollitia laborum sint delectus accusamus!
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Harum tenetur dicta commodi, totam atque fugit ut magnam.
                                </div>
                            </div>
                        </div>
                        <div class="faq-card shadow">
                            <div class="faq-card-header" id="heading_2">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse_2" aria-expanded="false" aria-controls="collapse_2">
                                        What Is Horizon
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse_2" class="collapse" aria-labelledby="heading_2"
                                data-parent="#faqAccordion">
                                <div class="faq-card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Harum tenetur dicta commodi, totam atque fugit ut magnam
                                    laboriosam dignissimos dolorum minus quia sed distinctio in
                                    mollitia laborum sint delectus accusamus!
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Harum tenetur dicta commodi, totam atque fugit ut magnam.
                                </div>
                            </div>
                        </div>
                        <div class="faq-card shadow">
                            <div class="faq-card-header" id="heading_3">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
                                        What Is Horizon
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse_3" class="collapse" aria-labelledby="heading_3"
                                data-parent="#faqAccordion">
                                <div class="faq-card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Harum tenetur dicta commodi, totam atque fugit ut magnam
                                    laboriosam dignissimos dolorum minus quia sed distinctio in
                                    mollitia laborum sint delectus accusamus!
                                    <br />
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Harum tenetur dicta commodi, totam atque fugit ut magnam.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12" data-aos="fade-left" data-aos-delay="400">
                    <img src="assets/img/mobile-1.png" class="img-fluid b-block mx-auto" alt="" />
                </div>
            </div>
        </div>
    </section>
    <!-- End FAQ  -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start  Get in touch -->
    <section id="contact" class="git-in-touch padding-100 background-withcolor">
        <div class="container">
            <div class="row">
                <div class="text-center col-12 section-title" data-aos="fade-zoom-in">
                    <h2 class="section-header">
                        <span style="border-bottom: 3px solid; padding: 0.5rem;">Contact Us</span>
                    </h2>
                    <div class="space-25"></div>
                    <p class="light">
                        Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor coli incidit labore lorem ipsum amet madolor sit
                        amet.
                    </p>
                    <div class="space-50"></div>
                </div>
            </div>
            <div class="container-contact100">
                <div class="wrap-contact100">
                    <form class="contact100-form validate-form">
                        <!-- <span class="contact100-form-title">
                            Send Us A Message
                        </span> -->

                        <div class="wrap-input100 validate-input" data-validate="Please enter your name">
                            <input class="input100" type="text" name="name" placeholder="Full Name">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Please enter your email: e@a.x">
                            <input class="input100" type="text" name="email" placeholder="E-mail">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Please enter your phone">
                            <input class="input100" type="text" name="phone" placeholder="Phone">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Please enter your message">
                            <textarea class="input100" name="message" placeholder="Your Message"></textarea>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="container-contact100-form-btn">
                            <button class="btn btn-primary btn-white shadow btn-theme">
                                <span>
                                    Send
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="space-50"></div>
        </div>
    </section>
    <!-- End  Git in touch  -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start  Map -->
    <section class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55251.37709962986!2d31.22344494535329!3d30.059483810352845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fa60b21beeb%3A0x79dfb296e8423bba!2sCairo%2C+Cairo+Governorate!5e0!3m2!1sen!2seg!4v1540147674461"
            style="border: 0" allowfullscreen></iframe>
    </section>
    <!-- End  Map  -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start  Footer -->
    <footer class="padding-100 pb-0" id="footer">
        <div class="subscribe">
            <div class="container">

                <% if(msgs[0]) { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong><%= msgs[0] %></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %> %>

                <form class="subscribe-form row m-0 align-items-center" action="/api/subscribe" method="POST">
                    <div class="col-lg-9 col-md-8">
                        <div class="form-group mb-0">
                            <input name="mail_email" id="mail_email" type="email" class="form-control"
                                placeholder="Enter Your Email" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <a href="#"
                            class="btn btn-primary shadow d-block btn-colord btn-theme"><span>subscribe</span></a>
                    </div>
                </form>
            </div>
        </div>
        <div class="space-50"></div>
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="">
                            <img src="assets/imgs/horizon/HLogoW.png" class="img-fluid" alt="" />
                            <p class="light" style="padding: 0 1rem;">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
                                nostrum odit facilis delectus quia rerum?Lorem ipsum dolor sit
                                amet consectetur adipisicing elit. Aspernatur eius,
                                consectetur cupiditate doloribus deleniti veniam!
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <div class="widget">
                            <h6>Quick Links</h6>
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Latest News</a>
                                </li>
                                <li>
                                    <a href="#">Products</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <div class="widget">
                            <h6>Social Media</h6>
                            <ul>
                                <li>
                                    <a href="#">Facbook</a>
                                </li>
                                <li>
                                    <a href="#">Instagram</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <div class="widget">
                            <h6>Quick Contact</h6>
                            <ul>
                                <li>
                                    <span>Phone : </span>
                                    <br>
                                    <a class="med-dark" href="tel:123456789">911</a>
                                </li>
                                <li>
                                    <span>Email : </span>
                                    <br>
                                    <a class="med-dark" href="mailto:test@test.com">horizon@horizon.com</a>
                                </li>
                                <li>
                                    <span>Address : </span>
                                    <br>
                                    <a class="med-dark"
                                        href="https://www.google.com/maps/place/The+White+House/@38.898346,-77.037709,15.67z/data=!4m5!3m4!1s0x0:0x715969d86d0b76bf!8m2!3d38.8976763!4d-77.0365298">Google
                                        Map Address</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-50"></div>
        <div class="copyright">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 white">
                        <a href="/" target="_blank" rel="noopener noreferrer">Horizon</a>
                        <span className="">&copy; 2021.</span>
                    </div>
                    <div class="offset-md-4 col-md-4 white">
                        <span className="">Powered by</span>
                        <a href="https://ayk-mall.com" target="_blank" rel="noopener noreferrer">Ayk</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End  Footer  -->



    <!-- ------------------------------------------------------------- -->
    <!-- ------------------------------------------------------------- -->
    <!-- ------------------------------------------------------------- -->
    <!-- Script -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Bootstrap JS -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- svg -->
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>

    <!-- Slick Slider JS -->
    <script src="assets/js/slick.min.js"></script>

    <!-- Counterup JS -->
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.js"></script>

    <!-- AOS JS -->
    <script src="assets/js/aos.js"></script>

    <!-- lity JS -->
    <script src="assets/js/lity.min.js"></script>

    <!-- swiper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>

    <!-- OWL -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js">
    </script>

    <!-- Our Main JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/news.js"></script>
    <script src="assets/js/timeline.js"></script>
    <script src="assets/js/single-vision.js"></script>
    <script src="assets/js/bifocal.js"></script>
    <script src="assets/js/testimonials.js"></script>
    <script src="assets/js/contact.js"></script>
</body>

</html>