<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Horizon</title>

    <!-- Favicon -->
    <link rel="icon" href="assets/imgs/horizon/logoIcon.png" />
    <!-- Bootstrap CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Slick Slider -->
    <link href="assets/css/slick.css" rel="stylesheet" />
    <link href="assets/css/slick-theme.css" rel="stylesheet" />

    <!-- AOS CSS -->
    <link href="assets/css/aos.css" rel="stylesheet" />

    <!-- Lity CSS -->
    <link href="assets/css/lity.min.css" rel="stylesheet" />

    <!-- swiper CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css" />

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css" />

    <!-- linearicons CSS -->
    <link rel="stylesheet" href="assets/css/linearicons.css" />

    <!-- Our Min CSS -->
    <link href="assets/css/main.css" rel="stylesheet" />
    <link href="assets/css/lenses.css" rel="stylesheet" />
    <link href="assets/css/news.css" rel="stylesheet" />
    <link href="assets/css/timeline.css" rel="stylesheet" />
    <link href="assets/css/blur_cards.css" rel="stylesheet" />
    <link href="assets/css/single-vision.css" rel="stylesheet" />
    <link href="assets/css/bifocal.css" rel="stylesheet" />

    <!-- Horizon Themes * We can add another colors from color-1 to color-20 -->
    <link href="assets/css/color-1.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#main_menu" data-offset="70">
    <!-- Start Preloader -->
    <div class="preloader">
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start Header -->
    <header class="horizon-header">
        <nav class="navbar navbar-expand-lg navbar-light" id="horizon_menu">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/imgs/horizon/HLogoW.png" class="img-fluid" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu"
                    aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_menu">
                    <ul class="navbar-nav ml-auto">
                        <!-- <li class="nav-item">
                <a class="nav-link anchor active" href="#slide">Home </a>
              </li> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Products
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item anchor" href="#">ZEISS</a>
                                <a class="dropdown-item anchor" href="#">LTL</a>
                                <a class="dropdown-item anchor" href="#">Divel</a>
                                <a class="dropdown-item anchor" href="#">Roger Bacon</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Free Form Technology
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item anchor" href="#">Progressive</a>
                                <a class="dropdown-item anchor" href="#">Single Vision</a>
                                <a class="dropdown-item anchor" href="#">Bifocal</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link anchor" href="#">Technical Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link anchor" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link anchor" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End Header -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start Hero -->
    <section id="hero-section" class="slide background-withcolor">
        <div class="content-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6" data-aos="fade-right">
                        <h1><%= horizon.name %></h1>
                        <p id="hero-parag-1" class="mb-0"><%= horizon.hero_parag_1 %></p>
                        <h2 id="hero-header-1"><%= horizon.hero_header_1 %></h2>
                        <p id="hero-parag-2"><%= horizon.hero_parag_2 %></p>
                        <!-- call to action btn -->
                        <a id="hero-link-1" href="<%= horizon.hero_link_1_href %>"
                            class="btn btn-primary btn-white shadow btn-theme"><span><b><%= horizon.hero_link_1_name %></b></span></a>
                    </div>
                    <div class="col-md-6" data-aos="fade-left" data-aos-delay="200">
                        <!-- <img src="assets/img/mobile-1.png" class="img-fluid d-block mx-auto" alt=""> -->
                        <div class="stack">
                            <div class="content card">
                                <p>
                                    <b>
                                        <span id="desktop-prompt">Hover</span>
                                        <span id="mobile-prompt">Tap</span>
                                        To See
                                    </b>
                                </p>
                                <p style="
                      font-size: 2rem;
                      font-weight: bold;
                      line-height: 3rem;
                    ">
                                    Single <br />
                                    Vision <br />
                                    Lens <br />
                                    Layers
                                </p>
                            </div>
                            <div class="padding card"></div>
                            <div class="border card"></div>
                            <div class="background card"></div>
                            <div class="box-shadow card"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero -->
    <!-- ------------------------------------------------------------- -->
    <!-- Start Recent News -->
    <section id="" class="padding-100">
        <div class="container">
            <div class="row">
                <div class="text-center col-12 section-title" data-aos="fade-zoom-in">
                    <h2 class="section-header dark">
                        <span>Latest News</span>
                    </h2>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <section id="news" class="">
                        <div class="news-slider">
                            <div class="news-slider__wrp swiper-wrapper">
                                <div class="news-slider__item swiper-slide">
                                    <div class="news-slider__img">
                                        <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759872/kuldar-kalvik-799168-unsplash.jpg"
                                            alt="" />
                                    </div>
                                    <div class="news-slider__content">
                                        <span class="news-slider__code">01 January 2025</span>
                                        <div class="news-slider__title">Lorem Ipsum Dolor</div>
                                        <div class="news-slider__text">
                                            Lorem ipsum dolor sit amet consectetur, adipisicing
                                            elit. Recusandae voluptate repellendus magni illo ea
                                            animi?
                                        </div>
                                        <a href="#" class="news-slider__button">READ MORE</a>
                                    </div>
                                </div>
                                <div class="news-slider__item swiper-slide">
                                    <div class="news-slider__img">
                                        <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/jason-leung-798979-unsplash.jpg"
                                            alt="" />
                                    </div>
                                    <div class="news-slider__content">
                                        <span class="news-slider__code">01 January 2025</span>
                                        <div class="news-slider__title">Lorem Ipsum Dolor2</div>
                                        <div class="news-slider__text">
                                            Lorem ipsum dolor sit amet consectetur, adipisicing
                                            elit. Recusandae voluptate repellendus magni illo ea
                                            animi?
                                        </div>
                                        <a href="#" class="news-slider__button">READ MORE</a>
                                    </div>
                                </div>

                                <div class="news-slider__item swiper-slide">
                                    <div class="news-slider__img">
                                        <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/alessandro-capuzzi-799180-unsplash.jpg"
                                            alt="" />
                                    </div>
                                    <div class="news-slider__content">
                                        <span class="news-slider__code">01 January 2025</span>
                                        <div class="news-slider__title">Lorem Ipsum Dolor</div>
                                        <div class="news-slider__text">
                                            Lorem ipsum dolor sit amet consectetur, adipisicing
                                            elit. Recusandae voluptate repellendus magni illo ea
                                            animi?
                                        </div>
                                        <a href="#" class="news-slider__button">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                            <div class="news-slider__pagination"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!-- End Recent News  -->


    <!-- ------------------------------------------------------------- -->
    <!-- ------------------------------------------------------------- -->
    <!-- ------------------------------------------------------------- -->
    <!-- Script -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Bootstrap JS -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- svg -->
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>

    <!-- Slick Slider JS -->
    <script src="assets/js/slick.min.js"></script>

    <!-- Counterup JS -->
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.js"></script>

    <!-- AOS JS -->
    <script src="assets/js/aos.js"></script>

    <!-- lity JS -->
    <script src="assets/js/lity.min.js"></script>

    <!-- swiper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>

    <!-- Our Main JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/news.js"></script>
    <script src="assets/js/timeline.js"></script>
    <script src="assets/js/single-vision.js"></script>
    <script src="assets/js/bifocal.js"></script>
</body>

</html>