<%- include('./partials/product_head.ejs') %>
    <%- include('./partials/nav.ejs') %>


        <!-- Start Page Head -->
        <section class="page-head background-withcolor">
            <div class="container">
                <div id='stars'></div>
                <div id='stars1'></div>
                <div id='stars2'></div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <h1 style="font-size: x-large;"><span style="color: #FFD952">Products / </span>
                            <%= test %>
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Page Head -->

        <!-- Start Blog Page Section -->
        <section class="">
            <div class="container">
                <div class="row">
                    <!-- Start All Blogs -->
                    <div class="col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="stock_lenses">
                                    <div class="card-container">

                                        <!-- IMAGES CONTAINER -->
                                        <div id="left-side">
                                            <div class="container-img-desktop">
                                                <img class="woman-desk"
                                                    src="https://raw.githubusercontent.com/ViktoriiaZaichuk/faq-accordion-card-main/48bb14e632a5bd5d9190da88b45d21622dd2ed14/img/illustration-woman-online-desktop.svg"
                                                    alt="woman">
                                            </div>
                                            <div class="container-img-mob">
                                                <img class="pattern-mobile"
                                                    src="https://raw.githubusercontent.com/ViktoriiaZaichuk/faq-accordion-card-main/48bb14e632a5bd5d9190da88b45d21622dd2ed14/img/bg-pattern-mobile.svg"
                                                    alt="pattern">
                                                <img class="woman-mobile"
                                                    src="https://raw.githubusercontent.com/ViktoriiaZaichuk/faq-accordion-card-main/48bb14e632a5bd5d9190da88b45d21622dd2ed14/img/illustration-woman-online-mobile.svg"
                                                    alt="woman">
                                            </div>
                                            <img class="box-img"
                                                src="https://raw.githubusercontent.com/ViktoriiaZaichuk/faq-accordion-card-main/48bb14e632a5bd5d9190da88b45d21622dd2ed14/img/illustration-box-desktop.svg"
                                                alt="box">
                                        </div>

                                        <!-- TEXT CONTAINER -->
                                        <div id="right-side">
                                            <h1 style="color: #0d0b0b;">Stock Lenses</h1>

                                            <div class="question-container">
                                                <div class="question">
                                                    <p>What is Horizon ?</p>
                                                    <img src="https://raw.githubusercontent.com/ViktoriiaZaichuk/faq-accordion-card-main/48bb14e632a5bd5d9190da88b45d21622dd2ed14/img/icon-arrow-down.svg"
                                                        alt="arrow down" class="arrow">
                                                </div>
                                                <div class="hidden">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                        Mollitia architecto perspiciatis laborum harum facere accusamus.
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="question-container">
                                                <div class="question">
                                                    <p>What is Horizon ?</p>
                                                    <img src="https://raw.githubusercontent.com/ViktoriiaZaichuk/faq-accordion-card-main/48bb14e632a5bd5d9190da88b45d21622dd2ed14/img/icon-arrow-down.svg"
                                                        alt="arrow down" class="arrow">
                                                </div>
                                                <div class="hidden">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                        Mollitia architecto perspiciatis laborum harum facere accusamus.
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="question-container">
                                                <div class="question">
                                                    <p>What is Horizon ?</p>
                                                    <img src="https://raw.githubusercontent.com/ViktoriiaZaichuk/faq-accordion-card-main/48bb14e632a5bd5d9190da88b45d21622dd2ed14/img/icon-arrow-down.svg"
                                                        alt="arrow down" class="arrow">
                                                </div>
                                                <div class="hidden">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                        Mollitia architecto perspiciatis laborum harum facere accusamus.
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="question-container">
                                                <div class="question">
                                                    <p>What is Horizon ?</p>
                                                    <img src="https://raw.githubusercontent.com/ViktoriiaZaichuk/faq-accordion-card-main/48bb14e632a5bd5d9190da88b45d21622dd2ed14/img/icon-arrow-down.svg"
                                                        alt="arrow down" class="arrow">
                                                </div>
                                                <div class="hidden">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                        Mollitia architecto perspiciatis laborum harum facere accusamus.
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End All Blogs -->
                    <!-- 








                    
                 -->
                    <!-- Start Sidebar -->
                    <!-- End Sidebar -->
                </div>
            </div>
        </section>


        <%- include('./partials/footer.ejs') %>
            <%- include('./partials/new_end.ejs') %>