<%- include('../partials/page_head.ejs') %>
    <%- include('../partials/nav.ejs') %>


        <!-- Start Page Head -->
        <!-- Start Page Head -->
        <section class="page-head background-withcolor">
            <div class="container">
                <div id='stars'></div>
                <div id='stars1'></div>
                <div id='stars2'></div>
                <div class="row text-center">
                    <div class="col-md-12" style="margin: 5rem auto 3rem auto !important">
                        <span style="color: white; letter-spacing: 0.5rem;">Horizon </span>
                        <h1 style="font-size: x-large; display: inline-block;">
                            <!-- <span style="color: #FFD952">Products / </span> -->
                            / About Us
                        </h1>
                    </div>
                </div>
            </div>
        </section>

        <div style="padding: 2rem 0;"></div>

        <div id="ckeditor" class="container">
            <h2>asdasdad</h2>
            <p>asddsas</p>
            <p>dsadasasds <a href="sddas">sddas</a></p>
            <p>asdasd</p>
            <p>Lorem&nbsp;ipsum&nbsp;dolor,&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Ratione&nbsp;nisi&nbsp;doloremque&nbsp;sint,&nbsp;blanditiis&nbsp;quidem&nbsp;quibusdam&nbsp;quod&nbsp;repudiandae&nbsp;rem&nbsp;voluptate&nbsp;rerum&nbsp;velit&nbsp;iusto&nbsp;eos&nbsp;facilis&nbsp;nihil&nbsp;quos&nbsp;voluptatem&nbsp;tempora&nbsp;reprehenderit&nbsp;officiis&nbsp;eveniet&nbsp;illum&nbsp;quisquam&nbsp;in?&nbsp;Vel,&nbsp;assumenda&nbsp;placeat.&nbsp;Non&nbsp;aperiam&nbsp;reprehenderit&nbsp;animi&nbsp;alid&nbsp;eveniet,&nbsp;rem&nbsp;distinctio&nbsp;officia&nbsp;nemo&nbsp;assumenda&nbsp;libero&nbsp;aliquam.
                Lorem&nbsp;ipsum&nbsp;dolor,&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Ratione&nbsp;nisi&nbsp;doloremque&nbsp;sint,&nbsp;blanditiis&nbsp;quidem&nbsp;quibusdam&nbsp;quod&nbsp;repudiandae&nbsp;rem&nbsp;voluptate&nbsp;rerum&nbsp;velit&nbsp;iusto&nbsp;eos&nbsp;facilis&nbsp;nihil&nbsp;quos&nbsp;voluptatem&nbsp;tempora&nbsp;reprehenderit&nbsp;officiis&nbsp;eveniet&nbsp;illum&nbsp;quisquam&nbsp;in?&nbsp;Vel,&nbsp;assumenda&nbsp;placeat.&nbsp;Non&nbsp;aperiam&nbsp;reprehenderit&nbsp;animi&nbsp;aliquid&nbsp;eveniet,&nbsp;rem&nbsp;distinctio&nbsp;officia&nbsp;nemo&nbsp;assumenda&nbsp;libero&nbsp;aliquam.
                Lorem&nbsp;ipsum&nbsp;dolor,&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Ratione&nbsp;nisi&nbsp;doloremque&nbsp;sint,&nbsp;blanditiis&nbsp;quidem&nbsp;quibusdam&nbsp;quod&nbsp;repudiandae&nbsp;rem&nbsp;voluptate&nbsp;rerum&nbsp;velit&nbsp;iusto&nbsp;eos&nbsp;facilis&nbsp;nihil&nbsp;quos&nbsp;voluptatem&nbsp;tempora&nbsp;reprehenderit&nbsp;officiis&nbsp;eveniet&nbsp;illum&nbsp;quisquam&nbsp;in?&nbsp;Vel,&nbsp;assumenda&nbsp;placeat.&nbsp;Non&nbsp;aperiam&nbsp;reprehenderit&nbsp;animi&nbsp;aliquid&nbsp;eveniet,&nbsp;rem&nbsp;distinctio&nbsp;officia&nbsp;nemo&nbsp;assumenda&nbsp;libero&nbsp;aliquam.
                Lorem&nbsp;ipsum&nbsp;dolor,&nbsp;sit&nbsp;amet&nbsp;consectetur&nbsp;adipisicing&nbsp;elit.&nbsp;Ratione&nbsp;nisi&nbsp;doloremque&nbsp;sint,&nbsp;blanditiis&nbsp;quidem&nbsp;quibusdam&nbsp;quod&nbsp;repudiandae&nbsp;rem&nbsp;voluptate&nbsp;rerum&nbsp;velit&nbsp;iusto&nbsp;eos&nbsp;facilis&nbsp;nihil&nbsp;quos&nbsp;voluptatem&nbsp;tempora&nbsp;reprehenderit&nbsp;officiis&nbsp;eveniet&nbsp;illum&nbsp;quisquam&nbsp;in?&nbsp;Vel,&nbsp;assumenda&nbsp;placeat.&nbsp;Non&nbsp;aperiam&nbsp;reprehenderit&nbsp;animi&nbsp;aliquid&nbsp;eveniet,&nbsp;rem&nbsp;distinctio&nbsp;officia&nbsp;nemo&nbsp;assumenda&nbsp;libero&nbsp;aliquam.
            </p>
            <figure class="table">
                <table>
                    <tbody>
                        <tr>
                            <td>asdasd</td>
                            <td>asdasd</td>
                        </tr>
                        <tr>
                            <td>asd</td>
                            <td>asd</td>
                        </tr>
                        <tr>
                            <td>asdasd</td>
                            <td>asdasd</td>
                        </tr>
                    </tbody>
                </table>
            </figure>
            <p>&nbsp;</p>
            <p>CTextarea</p>
            <p>s</p>
            <p>a</p>
            <p>d</p>
            <p>s</p>
            <p>d</p>
        </div>

        <hr>

        <div id="ckeditor" class="container">
            <!-- <%- about.content %> -->
        </div>

        <%- include('../partials/footer.ejs') %>
            <%- include('../partials/page_end.ejs') %>