<%- include('../partials/page_head.ejs') %>
<%- include('../partials/nav.ejs') %>


<!-- Start Page Head -->
<section class="page-head background-withcolor">
  <div class="container">
    <div id='stars'></div>
    <div id='stars1'></div>
    <div id='stars2'></div>
    <div class="row text-center">
        <div class="col-md-12" style="margin: 3rem auto 0rem auto !important">
            <!-- <span style="color: white; letter-spacing: 0.5rem;">Horizon </span> -->
            <h1 style="font-size: 4em; display: inline-block;">
                <!-- <span style="color: #FFD952">Products / </span> -->
                <%= brand.name %>
            </h1>
        </div>
    </div>
  </div>
</section>
<!-- End Page Head -->

<div style="padding: 2rem 0;"></div>

<!-- Start Blog Page Section -->
<section class="single-blog-with-sidebar single-blog-page">
  <div class="container">
    <h2 style="color: white !important;">Description</h2>
    <div class="row">
      <!-- Start All Blogs -->
      <div class="col-md-12 col-lg-8">
        <div class="row">
          <div class="col-md-12">
            <div class="blog-box">
              <!-- <div class="blog-img">
                <img src="" class="img-fluid" alt="">
              </div> -->
              <div class="">
                <hr>
                <section class="single-blog-page">
                    <div class="container">
                        <div class="blog-box">
                            <div class="">
                                <!-- content -->
                                <%- include('../partials/editor_blocks.ejs') %>
                            </div>
                            <hr>
                        </div>
                    </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End All Blogs -->
      <!-- -->
      <!-- Start Sidebar -->
      <div class="col-md-12 col-lg-4">
        <aside class="sidebar">
            <% brand.imgs.forEach(function(img) { %>
                <div class="gray-panel follow-me">
                    <figure>
                      <img class="img-fluid" src="<%= img %>" alt="">
                      <!-- <figcaption style="text-align: center;">PIC 1</figcaption> -->
                    </figure>
                </div>
            <% }) %>
        </aside>
      </div>
      <!-- End Sidebar -->
    </div>
    <hr>
  </div>
</section>
<!-- END BLOG SECTION -->
<div style="padding: 2rem 0;"></div>
<!-- 










         -->
<!-- Start Brand Designs Section -->
<section class="single-blog-with-sidebar single-blog-page">
  <div class="container">
    <div class="row">
      <!-- Start All Blogs -->
      <div class="col-lg-12 col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="blog-box">
              <div class="map-container">
                <h2 style="color: white !important;">Designs</h2>

                <div class="inner-basic division-map div-toggle" data-target=".division-details" id="divisiondetail">

                    <% brand.before_after.forEach(function(design) { %>
                        <button class="mlod_link map-point-sm" data-show=".<%= design.name %>">
                            <div class="content">
                              <div class="centered-y">
        
                                <span><%= design.name %></span>
        
                              </div>
                            </div>
                          </button>
                    <% }) %>
                  
                </div><!-- end inner basic -->
              </div>


              <div class="map-container">
                <div class="inner-basic division-details">
                  <div class="initialmsg">
                    <p style="margin: 1rem 0;">Pick One Design</p>
                  </div>
                  <% brand.before_after.forEach(function(design) { %>
                    <div id="<%=design.name%>" class="<%=design.name%> hide">
                        <!-- Start Lenses Design -->
                        <section id="before_after" class="">
                          <div class='container'>
                            <div class='img background-img' style="background-image: url('<%= design.before %>');">
                            </div>
                            <div class='img foreground-img' style="background-image: url('<%= design.after %>');">
                            </div>
                            <input type="range" min="1" max="100" value="50" class="slider" name='slider' id="slider">
                            <div class='slider-button'></div>
                          </div>
                        </section>
                        <!-- End Slide -->
                    </div>
                <% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Brand Designs Section -->
    </div>
  </div>
</section>
<!-- END BLOG SECTION -->

<div style="padding: 2rem 0;"></div>


<%- include('../partials/footer.ejs') %>
<%- include('../partials/page_end.ejs') %>