<%- include('../partials/page_head.ejs') %>
    <%- include('../partials/nav.ejs') %>


        <!-- Start Page Head -->
        <!-- Start Page Head -->
        <section class="page-head background-withcolor">
            <div class="container">
                <div id='stars'></div>
                <div id='stars1'></div>
                <div id='stars2'></div>
                <div class="row text-center">
                    <div class="col-md-12" style="margin: 3rem auto 0rem auto !important">
                        <!-- <span style="color: white; letter-spacing: 0.5rem;">Horizon </span> -->
                        <h1 style="font-size: 4em; display: inline-block;">
                            <!-- <span style="color: #FFD952">Products / </span> -->
                            News <span style="
                            background-color: #d39529;
                            padding: 0.25rem 1rem;
                            border-radius: 0.5rem;
                            margin: 0 1rem;
                            ">
                                <%= blogs.length %>
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </section>

        <% blogs.forEach(function(blog) { %>
            <section id="" class="" style="margin: 3rem 0; color: black !important;">
                <div class="news-slider">
                    <div class="news-slider__item">
                        <div class="news-slider__img_blogs">
                            <img src="<%= blog.thumb_img %>" alt="" />
                        </div>
                        <div class="">
                            <span class="news-slider__code">
                                <%= blog.date %>
                            </span>
                            <div class="news-slider__title">
                                <%= blog.title %>
                            </div>
                            <div class="news-slider__text">
                                <%= blog.summary %>
                            </div>
                            <a href="/news/<%= blog.url %>" class="btn-primary">READ MORE</a>
                        </div>
                    </div>
                </div>
            </section>
            <% }) %>

                <%- include('../partials/footer.ejs') %>
                    <%- include('../partials/page_end.ejs') %>